table, th, td {
   border-spacing: 0.2rem;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
   
}

img {
    
    margin:10px 100px 10px 250px
}
table {
    border: 3px solid grey;
    background-color: lightblue;
    margin: 10px;
    border-radius: 10px;
}

th, td {
    background-color: white;
    border: 1px solid white;
}
body{
    background-color: tan;
}