table, th, td {
   border-spacing: 0.2rem;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: darkslategray;
   
   
}

#info {
    
    margin: 30px 30px 30px 400px;
    width: 600px;
    padding: 0px 5px 0px 5px;
    border: 3px solid lightblue;
    background-color: white;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: lightblue;
    border-radius: 50px;
    
}

#merchgit {
    display: block;
    margin: 30px 30px 30px 400px;
    width: 600px;
    padding: 0px 5px 0px 5px;
    border: 3px solid lightblue;
    background-color: white;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: lightblue;
    border-radius: 50px;
}
h1{ 
    margin: 5px auto;
    width: 600px;
    padding: 0px 5px 0px 5px;
    border: 3px solid lightblue;
    background-color: white;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: lightblue;
    border-radius: 50px;
}

section {
    float: left;
    margin: 30px 5px 700px 100px;
    width: 270px;
    padding: 0px 5px 0px 5px;
    border: 3px solid lightblue;
    background-color: white;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    color: lightblue;
    border-radius: 25px;

}

img {
    border-radius: 30px;
    display: block;
    margin:auto;
    padding: 5px;
}

body{
    background-color: tan;
}

ul {
    font-size: 15px;
}

 