table, td {
   border-spacing: 0.1rem;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: darkslategray;
   
   
}

th {
    color: gray;
}
div {
    margin: 5px auto;
    width: 500px;
    
}
h1{ 
    padding: 0px 5px 0px 5px;
    border: 3px solid lightblue;
    background-color: white;
    margin: 0;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: lightblue;
    border-radius: 50px;
    

}

img {
    
    margin:10px 100px 10px 250px
}
table {
    border: 3px solid lightblue;
    background-color: lightblue;
    margin: 0px 10px 10px 10px ;
    border-radius: 4px;
}

th, td {
    background-color: white;
    border: 1px solid white;
}
body{
    background-color: tan;
    
}